apiVersion: v1
kind: Service
metadata:
  name: session
  labels:
    app: session
spec:
  ports:
  - port: 5001
    targetPort: 5001
  selector:
    app: session
  
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: session
  labels:
    app: session
spec:
  replicas: 2
  selector:
    matchLabels:
      app: session
  template:
    metadata:
      labels:
        app: session
    spec:
      containers:
        - name: session
          image: telerepo.azurecr.io/integration-session:v10
          command: ["dotnet", "SessionManager.dll"]
          ports:
          - containerPort: 5001
          resources:
            requests:
              cpu: "1" 
          env:
          - name: TELEPATHY_DISPATCHER_IP
            value: "20.44.172.46"
          - name: TELEPATHY_SESSION_CONFIG_PATH
            value: "/app/session.json"
          - name: TELEPATHY_WORKING_DIR
            value: /app/
          - name: TELEPATHY_QUEUE_ADDRESSES
            value: nsqlookupd-0.nsqlookupd:4161;nsqlookupd-1.nsqlookupd:4161;nsqlookupd-2.nsqlookupd:4161       
    

          
